/MediaAritmetica/nbproject/private/
/MediaAritmetica/build/
/Lista1Exe2/nbproject/private/
/Lista1Exe2/build/
/Media/nbproject/private/
/Lista1Exe3/nbproject/private/
/Lista1Exe3/build/
/Lista1Exe4/nbproject/private/
/Lista1Exe4/build/
/Lista1Exe5/nbproject/private/
/Lista1Exe5/build/
/Lista1Exe6/nbproject/private/
/Lista1Exe6/build/
/Lista1Exe7/nbproject/private/
/Lista1Exe7/build/
/Lista1Exe8/nbproject/private/
/Lista1Exe8/build/